<?xml version="1.0"?>

<model>
  <name>assembly_line</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>LI DONGEN</name>
    <email>e0816499@u.nus.edu</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    An assembly line.
  </description>
</model>
