<launch>

  <!-- Connect the robot to a keyboard teleop controller -->
<!--   <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/> -->


  <!-- Run the map server -->
  <arg name="map_file" default="$(find me5413_world)/maps/map-test.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- Launch the AMCL Localizer -->
  <include file="$(find me5413_world)/launch/amcl.launch" />

  <!-- Launch Move Base -->
  <include file="$(find me5413_world)/launch/move_base.launch" />
  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/navigation.rviz" output="log" respawn="true"/>

  <node ns="me5413_world" pkg="me5413_world" type="goal_publisher_node" name="goal_publisher_node" output="screen" />

  <node name="find_object_3d" pkg="find_object_2d" type="find_object_2d" output="screen">
    <param name="gui" value="true" type="bool"/>
    <param name="settings_path" value="~/.ros/find_object_2d.ini" type="str"/>
    <param name="subscribe_depth" value="true" type="bool"/>
    <param name="objects_path" value="$(find me5413_world)/pictures" type="str"/>
    <param name="object_prefix" value="object" type="str"/>
    <remap from="rgb/image_rect_color" to="/front/rgb/image_raw"/>
    <remap from="/depth_registered/camera_info" to="/front/depth/camera_info"/>
    <remap from="/depth_registered/image_raw" to="/front/depth/image_raw"/>
  </node>


<!--    --><!-- Add the DynamicObstacleUpdater node -->
  <node ns="me5413_world" pkg="me5413_world" type="dynamic_obstacle_updater.py" name="dynamic_obstacle_updater" output="screen"/>

<!--    --><!-- Add the BoxListener node -->
<!--   <node ns="me5413_world" name="listener" pkg="me5413_world" type="listens.py" output="screen"/> -->

  <node pkg="me5413_world" type="cal_target_point.py" name="target_calculator" output="screen" />

  <node pkg="me5413_world" type="track_error_logger.py" name="track_error_logger" output="screen" />


</launch>
