<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find me5413_world)/maps/good_gmapping.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- Launch the AMCL Localizer -->
  <include file="$(find jackal_navigation)/launch/include/amcl.launch" />

  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/navigation.rviz" output="screen" respawn="true"/>

  <node ns="interactive_tools" pkg="interactive_tools" type="goal_publisher_node" name="goal_publisher_node" output="screen" />

</launch>