<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find me5413_world)/worlds/me5413_project_world.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <remap from="/joy_teleop/cmd_vel" to="/cmd_vel"/>
    
    <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch" >
        <arg name="config" value="front_flea3" />
    </include>

    <!-- rosrun teleop_twist_keyboard teleop_twist_keyboard.py -->

    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/jackal.rviz" output="log" respawn="true" />

</launch>
